.dashboard {
    margin-top: 5rem;
}

.dashContainer {
    display: flex;
    text-align: center;
}

.dashLside {
    padding: 1rem;
    width: 80%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    height: fit-content;
}

.CourseCard {
    padding: 2rem;
    max-width: 20vw;
    width: fit-content;
    background-color: #202024;
}