.navbar {
    text-align: center;
    color: #E1E1E6;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    position: fixed;
    height: 8vh;
    background-color: rgb(37, 37, 37);
    display: flex;
}

a {
    padding-top: 50%;
    text-decoration: none;
    color: inherit;
    padding-left: 9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 700;
}

.leftSide {
    display: flex;
    align-items: center;
}