.loginFormArea {
    padding: 2rem;
}

.inputText {
    width: 22rem;
    height: 3rem;
    background-color: #121214;
    color: #E1E1E6;
    border: none;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    outline: none;
}

.inputText:hover,
.inputText:visited,
.inputText:focus,
.inputText:active {
    border: 1px;
    border-color: #3f336b;
    box-shadow: 0 0 5px rgba(63, 51, 107, 0.5);
}

.inputButton {
    width: 22rem;
    height: 3rem;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(63, 51, 107);
    color: #E1E1E6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginFormArea {
    display: flex;
    flex-direction: column;
    /* Adicione essa linha para que os elementos se alinhem verticalmente */
    align-items: center;
    padding: 2rem;
    color: #E1E1E6;
}

.notHaveAnAccount a {
    padding: 0;
    font-weight: bolder;
    color: rgb(63, 51, 107);
}